<h1>Articles list:</h1>
<table>
  <th>Title</th>
  <th>Description</th>
  <% @articles.each do |article| %>
    <tr>
      <td> <%= article.title %> </td>
      <td> <%= article.description %> </td>
      <td> <%=  link_to "edit", edit_article_path(article), :class => "buttons" %> </td>
      <td> <%=  link_to "View", article_path(article), :class => "buttons" %> </td>
    </tr>
  <% end %>
</table>