
<div class="jumbotron">
  <h1 id="jumbo-header">Alpha-Blog</h1>
  <!-- <p><span class="element typed-text"></span></p> -->
  <p><span class="element1 typed-text"></span></p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>