
<div class="jumbotron">
  <h1 id="jumbo-header">Alpha-Blog</h1>
  <p class="jumbotron-inner"><span class="element typed-text"></span></p>
  <p class="jumbotron-inner"><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
<!-- insert body of homepage here -->

To add partial:

1. create file starting with an underscore (_filname.html.erb)
2. Render the file on the page <%#= render 'filename' %>

To add helper method:

1. In the body of your controller at the top, add;    before_action :method_name, only: [:edit, :update, :show, :destroy]
this will run the method given for only: the given methods
2. Within the private section in your controller add a method that returns the desired code to be used, eg..
      def method_name
            @article = Article.find(params[:id])
      end

To add an image link:

<%#= link_to(image_tag("image.png", :alt => "alpha blog logo", :class => "logo"), some_path) %>To add partial:

1. create file starting with an underscore (_filname.html.erb)
2. Render the file on the page <%#= render 'filename' %>

To add helper method:

1. In the body of your controller at the top, add;    before_action :method_name, only: [:edit, :update, :show, :destroy]
this will run the method given for only: the given methods
2. Within the private section in your controller add a method that returns the desired code to be used, eg..
      def method_name
            @article = Article.find(params[:id])
      end

To add an image link:

<%#= link_to(image_tag("image.png", :alt => "alpha blog logo", :class => "logo"), some_path) %>

To add partial:

1. create file starting with an underscore (_filname.html.erb)
2. Render the file on the page <%#= render 'filename' %>

To add helper method:

1. In the body of your controller at the top, add;    before_action :method_name, only: [:edit, :update, :show, :destroy]
this will run the method given for only: the given methods
2. Within the private section in your controller add a method that returns the desired code to be used, eg..
      def method_name
            @article = Article.find(params[:id])
      end

To add an image link:

<%#= link_to(image_tag("image.png", :alt => "alpha blog logo", :class => "logo"), some_path) %>To add partial:

1. create file starting with an underscore (_filname.html.erb)
2. Render the file on the page <%#= render 'filename' %>

To add helper method:

1. In the body of your controller at the top, add;    before_action :method_name, only: [:edit, :update, :show, :destroy]
this will run the method given for only: the given methods
2. Within the private section in your controller add a method that returns the desired code to be used, eg..
      def method_name
            @article = Article.find(params[:id])
      end

To add an image link:

<%#= link_to(image_tag("image.png", :alt => "alpha blog logo", :class => "logo"), some_path) %>