$jumbotron-font-color: #fff;

// --------------------------

.jumbotron h1 {
  text-align: center;
}
#jumbo-header {
  color: $jumbotron-font-color;
}
.typed-text {
  color: $jumbotron-font-color;
}
.jumbotron {
  width: 95%;
  margin: auto;
  background: url("chicago.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: $jumbotron-font-color;
}
.typed-cursor {
  color: #D0D1D2;
}

// blinking cursor for typed.js effect

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.8s infinite;
    -moz-animation: blink 0.8s infinite;
    animation: blink 0.8s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}