$jumbotron-font-color: #fff;

// --------------------------

#jumbo-header {
  color: $jumbotron-font-color;
  text-align: center;
  font-weight: 200;
  font-size: 5.5em;
}
.typed-text {
  color: #fff;
  font-size: 2em;
}
.typed-cursor {
  color: #FF9800;
  font-size: 2em;
}
.jumbotron-inner {
  text-align: center;
}
.jumbotron {
  width: 100%;
  margin: auto;
  background: url("chicago.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: $jumbotron-font-color;
}

// blinking cursor for typed.js effect

.typed-cursor{
    opacity: 9;
    -webkit-animation: blink 0.8s infinite;
    -moz-animation: blink 0.8s infinite;
    animation: blink 0.8s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}