.container-full {
  margin: 0 auto;
  width: 100%;
}
button a:hover, button a:visited, button a:link, button a:active {
  text-decoration: none;
  color: #fff;
}
a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}
.cntr {
  text-align: center;
}
.left {
  text-align: left;
  text-indent: 50px;
}
hr.divider {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(173,172,172,0.75), rgba(0, 0, 0, 0));
}

.field_with_errors input::-webkit-input-placeholder {
  color: red;
}
.field_with_errors textarea::-webkit-input-placeholder {
  color: red;
}
.field_with_errors input::-moz-placeholder {
  color: red;
}
.field_with_errors textarea::-moz-placeholder {
  color: red;
}
.field_with_errors input:-moz-placeholder {   /* Older versions of Firefox */
  color: red;
}
.field_with_errors textarea:-moz-placeholder {   /* Older versions of Firefox */
  color: red;
}
.field_with_errors input:-ms-input-placeholder {
  color: red;
}
.field_with_errors textarea:-ms-input-placeholder {
  color: red;
}

.blog-info span {
  color: #0069A7;
}
.blog-info {
  font-size: 11px;
  margin: 0;
  line-height: 1px;
  margin-bottom: 28px;
  position: relative;
  top: -10px;
  left: -45px;
}














